<div class="wrapper">
    <div class="sideDoneButtonHolder">
        <div class="sideButtonHolder">
            <div class="front">
                <img class="icon" src="/assets/Front-Icon.svg" alt="">
                <div class="text">FRONT</div>
            </div>
            <div class="back">
                <img class="icon" src="/assets/Back-Icon.svg" alt="">
                <div class="text">BACK</div>
            </div>
        </div>
        <div class="colorSelectionHolder">
            <div class="colorMainPicker">
                <div class="circle"></div>
                <div class="colorText">White &nbsp;</div>
            </div>
            <div class="optionHolder">
                <div class="colorOption">
                    <div class="circle"></div>
                    <div class="colorText">Black</div>
                </div>
            </div>
        </div>
    </div>
</div>