<div class="wrapper">
    <div class="sideDoneButtonHolder">
        <div class="sideButtonHolder">
            <div class="front">
                <img class="icon" src="/assets/Front-Icon.svg" alt="">
                <div class="text">FRONT</div>
            </div>
            <div class="back">
                <img class="icon" src="/assets/Back-Icon.svg" alt="">
                <div class="text">BACK</div>
            </div>
        </div>
        <div class="colorSelectionHolder">
            <div class="colorMainPicker" (click)="dropdownClicked = !dropdownClicked">
                <div class="circle" [ngClass]="selectedColor"></div>
                <div class="colorText">{{selectedColor}} &nbsp;</div>
            </div>
            <div class="optionHolder" *ngIf="dropdownClicked">
                <div class="colorOption" *ngFor="let color of ['BLACK','WHITE','NAVY','GREY']" (click)="selectedColor = color;dropdownClicked=false">
                    <div class="circle" [ngClass]="color"></div>
                    <div class="colorText" >{{color}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="canvasContainer">
        <canvas class="shirtLayer" #shirtLayer  ></canvas>
        <canvas class="designLayer"  width="100%" ></canvas>
    </div>
</div>