.wrapper{
    width:100%;
    position: relative;
    .designHolder{
        width: 100%;
        background: linear-gradient(to right, #CECECE, #DEDEDE);
        .oneDesign{
            width: 80%;
            margin: 0px 10%;
            padding: 5% 0px;
            position: relative;
            .blank{
                width:100%;
                filter: drop-shadow(4px 2px 3px rgba(0,0,0,0.6));
            }
            .designImg{
                width:50%;
                top:20%;
                left:25%;
                background-color: red;
                position: absolute;
            }
        }
        .frontPriority{
            width: 100%;
            padding: 11% 0px;
            .back{
                width: 60%;
                left:2.5%;
                position: absolute;
                filter: opacity(0.9);
                .blank{
                    width: 100%;
                }
                .designImg{
                    width: 50%;
                    top:20%;
                    left:25%;
                    position: absolute;
                }
            }
            .front{
                width: 70%;
                margin-left: 20%;
                position: relative;
                z-index:5;
                .blank{
                    width: 100%;
                    filter: drop-shadow(4px 2px 3px rgba(0,0,0,0.6));
                }
                .designImg{
                    width: 50%;
                    top:20%;
                    left:25%;
                    position: absolute;
                }
            }
        }
        .backPriority{
            width: 100%;
            padding: 11% 0px;
            .front{
                width: 60%;
                left:2.5%;
                position: absolute;
                filter: opacity(0.9);
                .blank{
                    width: 100%;
                }
                .designImg{
                    width: 50%;
                    top:20%;
                    left:25%;
                    position: absolute;
                }
            }
            .back{
                width: 70%;
                margin-left: 20%;
                position: relative;
                z-index:5;
                .blank{
                    width: 100%;
                    filter: drop-shadow(4px 2px 3px rgba(0,0,0,0.6));
                }
                .designImg{
                    width: 50%;
                    top:20%;
                    left:25%;
                    position: absolute;
                }
            }
        }
    }
    .info{
        .title{
            font-size: 14px;
            font-family: 'Helvetica';
            margin: 5px 0px;
        }
        .artist{
            font-size: 11px;
            margin: 5px 0px;
            color: gray;
            // font-family: 'Gilroy-Medium';
        }
        .price{
            font-size:14px;
            margin: 5px 0px;
            font-family:  Helvetica;
            font-weight: 300;
        }
    }
    .save{
        position: absolute;
        top:8px;
        right:8px;
        img{
            width:20px;
            height: 20px;
        }
    }

}