<div class="wrapper">
    <div class="title">
        <div class="artistNameDesignTitleHolder">
            <div class="artistName">
                Artist's Name
            </div>
            <div class="designTitle">
                Design's Title
            </div>
        </div>
        <div class="price">
            $11.99
        </div>
    </div>
    <div class="mainPreview">
        <div class="front">
            <img class="blank" src="assets/{{selectedColor}}-FRONT.png" alt="">
            <img class="designImg" src="{{card.images.frontImage}}" alt="">
        </div>
        <div class="back">
            <img class="blank" src="assets/{{selectedColor}}-BACK.png" alt="">
            <img class="designImg" src="{{card.images.backImage}}" alt="">
        </div>
    </div>
    <div class="colorPreviewHolder">
        <div class="colorPreview" *ngFor="let color of ['BLACK', 'WHITE', 'NAVY', 'BLACK']" (click)="selectColor(color)"
            [class.active]="selectedColor == color">
            <div class="frontPriority" *ngIf="card.type == 'frontPriority' || card.type == 'frontOnly'">
                <div class="back">
                    <img class="blank" src="assets/{{color}}-BACK.png" alt="">
                    <img class="designImg" src="{{images.backImage}}" alt="">
                </div>
                <div class="front">
                    <img class="blank" src="assets/{{color}}-FRONT.png" alt="">
                    <img class="designImg" src="{{card.images.frontImage}}" alt="">
                </div>
            </div>
            <div class="backPriority" *ngIf="card.type == 'backPriority' || card.type == 'backOnly'">
                <div class="front">
                    <img class="blank" src="assets/{{color}}-FRONT.png" alt="">
                    <img class="designImg" src="{{card.images.frontImage}}" alt="">
                </div>
                <div class="back">
                    <img class="blank" src="assets/{{color}}-BACK.png" alt="">
                    <img class="designImg" src="{{card.images.backImage}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="sizeOptionTitleHolder">
        <div class="titleSizeGuideHolder">
            <h4 class="titleSize">
                Select Size
            </h4>
            <h4 class="sizeGuide">
                Size Guide
            </h4>
        </div>
        <div class="sizeOptionHolder">
            <div class="sizeOption" *ngFor="let size of ['S','M','L','XL']" [class.active]='selectedSize == size'
                (click)="selectSize(size)">
                <span>{{size}}</span>
            </div>
        </div>
    </div>
    <div class="ctaHolder">
        <button class="cta addToBag" (click)="addToBag()"> Add To Bag </button>
        <button class="cta favourite"> Favourite <img src="/assets/heart.svg" alt=""> </button>
    </div>
    <div class="descriptionHolder">
        <h4>DESCRIPTION</h4>
        <p>{{card.description}}</p>
    </div>
    <div class="line"></div>
    <div class="designerInfoHolder">
        <h4>ABOUT DESIGNER</h4>
        <div class="designerImageInfoHolder">
            <div class="imageHolder">
                <img src="https://source.unsplash.com/random/300x300" alt="">
            </div>
            <div class="designerInformation">
                <div class="designerNameButtonHolder">
                    <div class="designerName">
                        <h4>DESIGNER'S NAME</h4>
                        <h5>Since September 2019</h5>
                    </div>
                    <button class="followButton"> Follow </button>
                </div>
                <p>{{card.designer.description}}</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="recommendDesignHolder">
        <h4>YOU MIGHT ALSO LIKE</h4>
        <div class="cardHolder">
            <app-card *ngFor="let recommendCard of recommendCards" [card]="recommendCard" routerLink="/view/a">
            </app-card>
        </div>
    </div>
</div>
<div class="askToCheckoutHolder" *ngIf="isAddToBagClicked">
    <div class="askToCheckout">
        <div class="successAlert">
            <img src="/assets/checkmark-circle-outline.svg" alt="">
            <span>Succesfully Added To The Bag</span>
        </div>
        <div class="previewInformationHolder">
            <div class="previewHolder">
                <div class="frontPriority" *ngIf="card.type == 'frontPriority' || card.type == 'frontOnly'">
                    <div class="back">
                        <img class="blank" src="assets/{{card.color}}-BACK.png" alt="">
                        <img class="designImg" src="{{images.backImage}}" alt="">
                    </div>
                    <div class="front">
                        <img class="blank" src="assets/{{card.color}}-FRONT.png" alt="">
                        <img class="designImg" src="{{card.images.frontImage}}" alt="">
                    </div>
                </div>
                <div class="backPriority" *ngIf="card.type == 'backPriority' || card.type == 'backOnly'">
                    <div class="front">
                        <img class="blank" src="assets/{{card.color}}-FRONT.png" alt="">
                        <img class="designImg" src="{{card.images.frontImage}}" alt="">
                    </div>
                    <div class="back">
                        <img class="blank" src="assets/{{card.color}}-BACK.png" alt="">
                        <img class="designImg" src="{{card.images.backImage}}" alt="">
                    </div>
                </div>
            </div>
            <div class="informationHolder">
                <div class="designerPriceHolder">
                    <span>Artist Helvetica</span>
                    <span>$10.95</span>
                </div>
                <h4>FUTURA MERCH</h4>
                <div>Size M</div>
                <div>Color Navy Blue</div>
            </div>
        </div>
        <div class="buttonHolder">
            <button class="viewBagButton" (click)="viewBag()">View Bag</button>
            <button class="continueShoppingButton" (click)="continueShopping()">Continue Shopping</button>
        </div>

    </div>
</div>