<div class="wrapper">
    <div class="customizeInfo">
        <div class="imageHolder">
            <img src="../../assets/black.svg" alt="" >
        </div>
        <div class="infoHolder">
            <h1>CUSTOMIZE</h1>
            <p>
                Customize now and get it delivered by the next day.
Starting from only 9.45$  
            </p>
            <div class="buttonHolder">
                <button> Customize Now </button>
            </div>
        </div>
    </div>
    <div class="browseDesignInfo" >
        <div class="infoHolder">
            <h1> 1000+ DESIGNS</h1>
            <p> Thousands of beautiful designs to choose from. Starting from only 9.45$</p>
            <div class="buttonHolder">
                <button> Browse Now </button>
            </div>
        </div>
        <div class="imageHolder">
            <img src="../../assets/black.svg" alt="" >
        </div>
    </div>
    <h1>Popular</h1>
    <div class="cardHolder">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>

</div>